[Unit]
Description=Mysql Exporter

[Service]
User=mysql_exporter
Group=mysql_exporter
EnvironmentFile=-/etc/sysconfig/mysqld_exporter
Environment="DATA_SOURCE_NAME=exporter:Zqd`mEhHNX^4qYKA@(localhost:3306)/"
ExecStart=/opt/mysqld_exporter-0.13.0.linux-amd64/mysqld_exporter $OPTIONS

[Install]
WantedBy=multi-user.target